.idea/
.vscode/
.history/
.project
.buildpath
.yardoc
*.tgz
*.iws
*.iml
*.ipr
~*
*.~*
.env
dist/
dist-node/
dist-esm/
node_modules/
public/
target/
out/
build/
npm-debug.log
pnpm-debug.log
package-lock.json